
.shared-partial.uptime-90-days-wrapper {
  padding-top: 5px
  margin-bottom: -2px
}

.shared-partial.uptime-90-days-wrapper svg {
  margin: 0
  padding: 0
  height: 34px
  width: 100%
  overflow: hidden
}

.shared-partial.uptime-90-days-wrapper svg rect:hover {
  fill: #5e6c84
}

.shared-partial.uptime-90-days-wrapper .legend {
  display: flex
  display: -ms-flexbox
  flex-direction: row
  justify-content: space-between
  position: relative
  top: -2px
}

.shared-partial.uptime-90-days-wrapper .legend .legend-item {
  flex: 0 0 auto
  font-size: .875rem
  position: relative
  color: #aaa
  opacity: 0.8
}

.shared-partial.uptime-90-days-wrapper .legend .legend-item.light {
  color: #aaa
  opacity: 0.5
}

.shared-partial.uptime-90-days-wrapper .legend .spacer {
  flex: 1
  margin: 0.75rem 1rem 0 1rem
  height: 1px
  background: #aaa
  opacity: 0.3
}

rect[fill="#28a745"] {
  opacity: .45
}

h1 {
  font-size: 32px
}

h2 {
  font-size: 24px
}

h3 {
  font-size: 20px
}

h4 {
  font-size: 16px
}

h5 {
  font-size: 14px
}

h6 {
  font-size: 12px
}

p {
  margin-top: 0
  margin-bottom: 10px
}

small {
  font-size: 90%
}

code, pre, tt {
  font-size: 12px
}

blockquote {
  margin: 0
}

.container, .container-lg, .container-md, .container-xl {
  margin-right: auto
  margin-left: auto
}

.container {
  width: 980px
  font-family: sans-serif
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
}

.container::after {
  clear: both
}

.container-md {
  max-width: 768px
}

.container-lg {
  max-width: 1012px
}

.container-xl {
  max-width: 1280px
}

.border {
  border: 1px solid #e1e4e8 !important
}

.border-y {
  border-top: 1px #e1e4e8 solid !important
  border-bottom: 1px #e1e4e8 solid !important
}

.border-0 {
  border: 0 !important
}

.border-dashed {
  border-style: dashed !important
}

.border-blue {
  border-color: #0366d6 !important
}

.border-blue-light {
  border-color: #c8e1ff !important
}

.border-green {
  border-color: #34d058 !important
}

.border-green-light {
  border-color: #a2cbac !important
}

.border-red {
  border-color: #d73a49 !important
}

.border-red-light {
  border-color: #cea0a5 !important
}

.border-purple {
  border-color: #6f42c1 !important
}

.border-yellow {
  border-color: #d9d0a5 !important
}

.border-gray-light {
  border-color: #eaecef !important
}

.border-gray-dark {
  border-color: #d1d5da !important
}

.border-black-fade {
  border-color: rgba(27, 31, 35, 0.15) !important
}

.border-top {
  border-top: 1px #e1e4e8 solid !important
}

.border-right {
  border-right: 1px #e1e4e8 solid !important
}

.border-bottom {
  border-bottom: 1px #e1e4e8 solid !important
}

.border-left {
  border-left: 1px #e1e4e8 solid !important
}

.border-top-0 {
  border-top: 0 !important
}

.border-right-0 {
  border-right: 0 !important
}

.border-bottom-0 {
  border-bottom: 0 !important
}

.border-left-0 {
  border-left: 0 !important
}

.box-shadow {
  box-shadow: 0 1px 1px rgba(27, 31, 35, 0.1) !important
}

.box-shadow-medium {
  box-shadow: 0 1px 5px rgba(27, 31, 35, 0.15) !important
}

.box-shadow-large {
  box-shadow: 0 1px 15px rgba(27, 31, 35, 0.15) !important
}

.box-shadow-extra-large {
  box-shadow: 0 10px 50px rgba(27, 31, 35, 0.07) !important
}

.box-shadow-none {
  box-shadow: none !important
}

.bg-white {
  background-color: #fff !important
}

.bg-blue {
  background-color: #0366d6 !important
}

.bg-blue-light {
  background-color: #f1f8ff !important
}

.bg-gray-dark {
  background-color: #24292e !important
}

.bg-gray {
  background-color: #f6f8fa !important
}

.bg-gray-light {
  background-color: #fafbfc !important
}

.bg-green {
  background-color: #28a745 !important
}

.bg-green-light {
  background-color: #dcffe4 !important
}

.bg-red {
  background-color: #d73a49 !important
}

.bg-red-light {
  background-color: #ffdce0 !important
}

.bg-yellow {
  background-color: #ffd33d !important
}

.bg-yellow-light {
  background-color: #fff5b1 !important
}

.bg-purple {
  background-color: #6f42c1 !important
}

.bg-purple-light {
  background-color: #f5f0ff !important
}

.bg-shade-gradient {
  background-image: linear-gradient(180deg, rgba(27, 31, 35, 0.065), rgba(27, 31, 35, 0)) !important
  background-repeat: no-repeat !important
  background-size: 100% 200px !important
}

.text-blue {
  color: #0366d6 !important
}

.text-red {
  color: #cb2431 !important
}

.text-gray-light {
  color: #6a737d !important
}

.text-gray {
  color: #586069 !important
}

.text-gray-dark {
  color: #24292e !important
}

.text-green {
  color: #28a745 !important
}

.text-orange {
  color: #a04100 !important
}

.text-orange-light {
  color: #e36209 !important
}

.text-purple {
  color: #6f42c1 !important
}

.text-white {
  color: #fff !important
}

.text-inherit {
  color: inherit !important
}

.text-pending {
  color: #b08800 !important
}

.bg-pending {
  color: #dbab09 !important
}

.link-gray {
  color: #586069 !important
}

.link-gray:hover {
  color: #0366d6 !important
}

.link-gray-dark {
  color: #24292e !important
}

.link-gray-dark:hover, .link-hover-blue:hover {
  color: #0366d6 !important
}

.muted-link {
  color: #586069 !important
}

.muted-link:hover {
  color: #0366d6 !important
  text-decoration: none
}


.unresolved-incident,
.page-status {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05)
}

.components-section::before {
  display: block
  margin-bottom: 1rem
  margin-bottom: .6rem
  content: "runner history"
  font-weight: 500
  font-size: 1.75rem
  line-height: 37.8px
  font-size: 1.75rem
  line-height: 2.3625rem
}

.incident-title {
  border-top-left-radius: 4px
  border-top-right-radius: 4px
}

.incident-title + .updates {
  background-color: #fff
  border-bottom-left-radius: 4px
  border-bottom-right-radius: 4px
}

.incidents-list .font-largest {
  display: inline-block
  margin-bottom: 18px
}

.status-day,
.incident-list {
  position: relative
  padding-top: 1.5rem
  padding-bottom: 1.5rem
  padding-left: 3rem
  margin-top: 0 !important
}
.status-day:first-of-type,
.incident-list:first-of-type {
  padding-top: 0
}
.status-day::before,
.incident-list::before {
  position: absolute
  top: 0
  left: 19px
  display: block
  content: ""
  width: 3px
  height: 100%
  background-color: #e6ebf1
}

.status-day:last-child {
  padding-bottom: 3rem
}
.status-day > .date {
  position: relative
  padding-top: .3rem
  padding-bottom: 1rem !important
  margin-bottom: 0 !important
  border-bottom: 0 !important
}
.status-day > .date::before {
  position: absolute
  top: 0
  left: 3rem
  display: block
  content: ""
  width: 2.5rem
  height: 2.5rem
//   background: #24292e url("data:image/svg+xmlcharset=utf8,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13 2H12V3.5C12 3.78 11.78 4 11.5 4H9.5C9.22 4 9 3.78 9 3.5V2H6V3.5C6 3.78 5.78 4 5.5 4H3.5C3.22 4 3 3.78 3 3.5V2H2C1.45 2 1 2.45 1 3V14C1 14.55 1.45 15 2 15H13C13.55 15 14 14.55 14 14V3C14 2.45 13.55 2 13 2ZM13 14H2V5H13V14ZM5 3H4V1H5V3ZM11 3H10V1H11V3ZM6 7H5V6H6V7ZM8 7H7V6H8V7ZM10 7H9V6H10V7ZM12 7H11V6H12V7ZM4 9H3V8H4V9ZM6 9H5V8H6V9ZM8 9H7V8H8V9ZM10 9H9V8H10V9ZM12 9H11V8H12V9ZM4 11H3V10H4V11ZM6 11H5V10H6V11ZM8 11H7V10H8V11ZM10 11H9V10H10V11ZM12 11H11V10H12V11ZM4 13H3V12H4V13ZM6 13H5V12H6V13ZM8 13H7V12H8V13ZM10 13H9V12H10V13Z' fill='%23fff'/%3E%3C/svg%3e") no-repeat center center
  border-radius: 50%
}

.incident-calendar-icon {
  position: absolute
  top: -1.4rem
  left: -2rem
  display: block
//   content: ""
//   width: 2.5rem
//   height: 2.5rem
//   background: #24292e url("data:image/svg+xmlcharset=utf8,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13 2H12V3.5C12 3.78 11.78 4 11.5 4H9.5C9.22 4 9 3.78 9 3.5V2H6V3.5C6 3.78 5.78 4 5.5 4H3.5C3.22 4 3 3.78 3 3.5V2H2C1.45 2 1 2.45 1 3V14C1 14.55 1.45 15 2 15H13C13.55 15 14 14.55 14 14V3C14 2.45 13.55 2 13 2ZM13 14H2V5H13V14ZM5 3H4V1H5V3ZM11 3H10V1H11V3ZM6 7H5V6H6V7ZM8 7H7V6H8V7ZM10 7H9V6H10V7ZM12 7H11V6H12V7ZM4 9H3V8H4V9ZM6 9H5V8H6V9ZM8 9H7V8H8V9ZM10 9H9V8H10V9ZM12 9H11V8H12V9ZM4 11H3V10H4V11ZM6 11H5V10H6V11ZM8 11H7V10H8V11ZM10 11H9V10H10V11ZM12 11H11V10H12V11ZM4 13H3V12H4V13ZM6 13H5V12H6V13ZM8 13H7V12H8V13ZM10 13H9V12H10V13Z' fill='%23fff'/%3E%3C/svg%3e") no-repeat center center
//   border-radius: 50%
}

.incident-calendar-icon > .date::before {
//   position: absolute
//   top: 1.8rem
//   left: 2rem
//   display: block
//   content: ""
//   width: 2.5rem
//   height: 2.5rem
//   background: #24292e url("data:image/svg+xmlcharset=utf8,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13 2H12V3.5C12 3.78 11.78 4 11.5 4H9.5C9.22 4 9 3.78 9 3.5V2H6V3.5C6 3.78 5.78 4 5.5 4H3.5C3.22 4 3 3.78 3 3.5V2H2C1.45 2 1 2.45 1 3V14C1 14.55 1.45 15 2 15H13C13.55 15 14 14.55 14 14V3C14 2.45 13.55 2 13 2ZM13 14H2V5H13V14ZM5 3H4V1H5V3ZM11 3H10V1H11V3ZM6 7H5V6H6V7ZM8 7H7V6H8V7ZM10 7H9V6H10V7ZM12 7H11V6H12V7ZM4 9H3V8H4V9ZM6 9H5V8H6V9ZM8 9H7V8H8V9ZM10 9H9V8H10V9ZM12 9H11V8H12V9ZM4 11H3V10H4V11ZM6 11H5V10H6V11ZM8 11H7V10H8V11ZM10 11H9V10H10V11ZM12 11H11V10H12V11ZM4 13H3V12H4V13ZM6 13H5V12H6V13ZM8 13H7V12H8V13ZM10 13H9V12H10V13Z' fill='%23fff'/%3E%3C/svg%3e") no-repeat center center
//   border-radius: 50%
}

.incident-container ul{
  list-style-type: none
}

.incident-container li{
  margin-bottom: 1rem
}


.incident-list {
  margin-top: -1.25rem !important
}
.incident-list .incident-container:first-child::before {
  display: none
}
.incident-list .small:only-child {
  display: block
  padding-top: 1.5rem
  font-size: 1rem
}

.incident-container {
  padding-top: 1rem
  padding-bottom: 1rem
  margin-bottom:  !important
}
.incident-container::before {
  position: relative
  left: -27px
  top: -1rem
  display: block
  content: ""
  width: 100%
  height: 1px
  background-color: #e6ebf1
}

.incident-container .incident-title {
  position: relative
  display: inline-block
  padding-top: .125rem
  padding-bottom: .125rem
}
.incident-container .incident-title::before {
  position: absolute
  top: -2px
  left: -46px
  display: block
  content: ""
  width: 32px
  height: 32px
//   background-color: #e6ebf1
//   background-repeat: no-repeat
//   background-position: center center
//   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.99999 2.3C10.14 2.3 12.7 4.86 12.7 8C12.7 11.14 10.14 13.7 6.99999 13.7C3.85999 13.7 1.29999 11.14 1.29999 8C1.29999 4.86 3.85999 2.3 6.99999 2.3ZM7 1C3.14 1 0 4.14 0 8C0 11.86 3.14 15 7 15C10.86 15 14 11.86 14 8C14 4.14 10.86 1 7 1ZM8 4H6V9H8V4ZM8 10H6V12H8V10Z' fill='%236a737d'/%3E%3C/svg%3e")
//   border: 2px solid #f6f8fa
//   border-radius: 50%
}

.months-container {
  margin-bottom: 3rem
}

.update {
  position: relative
}
.update.investigating > strong {
  color: #dbab09
}
.update.resolved > strong {
  color: #28a745
}

.incident-body ul li,
.update ul li {
  margin-top: .25rem
  margin-bottom: .25rem
}

.update-body ul li {
  margin-bottom: .5rem
}

.update ul li strong,
.update-body ul li strong,
.incident-body ul li strong {
  font-feature-settings: 'tnum' 1
}

.incident-body {
  overflow: auto !important
  white-space: normal !important
}

.material-icons.color_green {
  color: white;
  background-color: rgb(88, 207, 73);
}

.material-icons.color_red {
  color: white;
  background-color: rgb(218, 56, 56);
}

.material-icons.color_blue {
  color: white;
  background-color: rgb(56, 140, 218);
}

.material-icons.color_orange {
  color: white;
  background-color: rgb(218, 115, 56);
}

.material-icons.color_grey {
  color: white;
  background-color: rgb(122, 120, 119);
}