<mat-card><mat-label><h3 class="title">Runner Status</h3></mat-label></mat-card>
<div class='mat-elevation-z8'>
    <table mat-table class='full-width-table' matSort aria-label='Elements'>
  
      <!-- id Column -->
      <!-- <ng-container matColumnDef='id'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
        <td mat-cell *matCellDef='let row'>{{row?.id}}</td>
      </ng-container>
   -->
      <!-- Name Column -->
      <!-- <ng-container matColumnDef='name'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
        <button mat-icon-button>
        </button>
        <td mat-cell *matCellDef='let row'>{{row?.name}}</td>
      </ng-container> -->
  
      <!-- NowMinusSix Column -->
      <ng-container matColumnDef='minus6'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{nowminus6}}</th>
        <td mat-cell *matCellDef='let row'>
          <button mat-mini-fab color='primary'
          matTooltip="
          id: {{row.runner.minus6.id}}
          name: {{row.runner.minus6.name}} 
          active: {{row.runner.minus6.active}} 
          description: {{row.runner.minus6.description}} 
          ip_address: {{row.runner.minus6.ip_address}} 
          is_shared: {{row.runner.minus6.is_shared}} 
          status: {{row.runner.minus6.status}}
          uptime: {{row.runner.minus6.uptime}}
          "
            matTooltipPosition="before"
            (click)='showData(row.runner.minus6)'>
            <mat-icon>{{ getIcon(row.runner.minus6?.status)}}</mat-icon>
          </button>
        </td>
      </ng-container>
  
  
      <!-- NowMinusFive Column -->
      <ng-container matColumnDef='minus5'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{nowminus5}}</th>
        <td mat-cell *matCellDef='let row'>
          <button mat-mini-fab color='primary'
          matTooltip="
          id: {{row.runner.minus5.id}}
          name: {{row.runner.minus5.name}} 
          active: {{row.runner.minus5.active}} 
          description: {{row.runner.minus5.description}} 
          ip_address: {{row.runner.minus5.ip_address}} 
          is_shared: {{row.runner.minus5.is_shared}} 
          status: {{row.runner.minus5.status}}
          uptime: {{row.runner.minus5.uptime}}
          "
            matTooltipPosition="before"
            (click)='showData(row.runner.minus5)'>
            <mat-icon>{{ getIcon(row.runner.minus5?.status)}}</mat-icon>
          </button></td>
      </ng-container>
  
      <!-- NowMinusFour Column -->
      <ng-container matColumnDef='minus4'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{nowminus4}}</th>
        <td mat-cell *matCellDef='let row'>
          <button mat-mini-fab color='primary'
          matTooltip="
          id: {{row.runner.minus4.id}}
          name: {{row.runner.minus4.name}} 
          active: {{row.runner.minus4.active}} 
          description: {{row.runner.minus4.description}} 
          ip_address: {{row.runner.minus4.ip_address}} 
          is_shared: {{row.runner.minus4.is_shared}} 
          status: {{row.runner.minus4?.status}}
          uptime: {{row.runner.minus4.uptime}}
          "
            matTooltipPosition="before"
            (click)='showData(row.runner.minus4)'>
            <mat-icon>{{ getIcon(row.runner.minus4?.status)}}</mat-icon>
          </button></td>
      </ng-container>
  
      <!-- NowMinusThree Column -->
      <ng-container matColumnDef='minus3'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{nowminus3}}</th>
        <td mat-cell *matCellDef='let row'>
          <button mat-mini-fab color='primary'
          matTooltip="
          id: {{row.runner.minus3.id}}
          name: {{row.runner.minus3.name}} 
          active: {{row.runner.minus3.active}} 
          description: {{row.runner.minus3.description}} 
          ip_address: {{row.runner.minus3.ip_address}} 
          is_shared: {{row.runner.minus3.is_shared}} 
          status: {{row.runner.minus3.status}}
          uptime: {{row.runner.minus3.uptime}}
          "
            matTooltipPosition="before"
            (click)='showData(row.runner.minus3)'>
            <mat-icon>{{ getIcon(row.runner.minus3?.status)}}</mat-icon>
          </button></td>
      </ng-container>
  
      <!-- NowMinusTwo Column -->
      <ng-container matColumnDef='minus2'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{nowminus2}}</th>
        <td mat-cell *matCellDef='let row'>
          <button mat-mini-fab color='primary'
          matTooltip="
          id: {{row.runner.minus2.id}}
          name: {{row.runner.minus2.name}} 
          active: {{row.runner.minus2.active}} 
          description: {{row.runner.minus2.description}} 
          ip_address: {{row.runner.minus2.ip_address}} 
          is_shared: {{row.runner.minus2.is_shared}} 
          status: {{row.runner.minus2.status}}
          uptime: {{row.runner.minus2.uptime}}
          "
            matTooltipPosition="before"
            (click)='showData(row.runner.minus2)'>
            <mat-icon>{{ getIcon(row.runner.minus2?.status)}}</mat-icon>
          </button></td>
      </ng-container>
  
      <!-- NowMinusOne Column -->
      <ng-container matColumnDef='minus1'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{nowminus1}}</th>
        <td mat-cell *matCellDef='let row'>
          <button mat-mini-fab color='primary'
          matTooltip="
          id: {{row.runner.minus1.id}}
          name: {{row.runner.minus1.name}} 
          active: {{row.runner.minus1.active}} 
          description: {{row.runner.minus1.description}} 
          ip_address: {{row.runner.minus1.ip_address}} 
          is_shared: {{row.runner.minus1.is_shared}} 
          status: {{row.runner.minus1.status}}
          uptime: {{row.runner.minus1.uptime}}
          "
            matTooltipPosition="before"
            (click)='showData(row.runner.minus1)'>
            <mat-icon>{{ getIcon(row.runner.minus1?.status)}}</mat-icon>
          </button></td>
      </ng-container>

      <ng-container matColumnDef='now'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{now}}</th>
        <td mat-cell *matCellDef='let row'>
          <button mat-mini-fab color='primary'
            matTooltip="id: {{row.runner.now.id}}
            name: {{row.runner.now.name}} 
            active: {{row.runner.now.active}} 
            description: {{row.runner.now.description}} 
            ip_address: {{row.runner.now.ip_address}} 
            is_shared: {{row.runner.now.is_shared}} 
            status: {{row.runner.now.status}}
            uptime: {{row.runner.now.uptime}}
            "
            matTooltipPosition="before"
            matTooltipClass='runners-tooltip'
            (click)='showData(row.runner.now)'>
            <mat-icon>{{ getIcon(row.runner.now?.status)}}</mat-icon>
          </button></td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
      <tr mat-row *matRowDef='let row; columns: displayedColumns;'></tr>
    </table>
  
    <!-- <mat-paginator #paginator [length]='dataSource?.data.length' [pageIndex]='0' [pageSize]='50'
      [pageSizeOptions]='[25, 50, 100, 250]'>
    </mat-paginator>
  </div> -->
  
  <!-- DIALOG -->
  <div class="dialog-content">
  
  </div>
  
