<mat-card>
  <mat-card-header>
    <mat-card-title>Settings</mat-card-title>
  </mat-card-header>
  <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()" novalidate>
    <mat-card-content class="content">
        <mat-radio-group aria-label="is gitlab.com" ngDefaultControl formControlName="isGitlabDotCom">
          <mat-radio-button class="field" value="true">gitlab.com</mat-radio-button>
          <mat-radio-button class="field" value="false">self hosted</mat-radio-button>
        </mat-radio-group>
      <div *ngIf="settingsForm.value.isGitlabDotCom === 'false'" class="field">
        <mat-form-field>
          <mat-label>gitlab location</mat-label>
          <input matInput placeholder="gitlab location" formControlName="gitlabAddress" name="gitlabAddress" required>
        </mat-form-field>
      </div>
      <div class="field">
        <mat-form-field>
          <mat-label>accessToken</mat-label>
          <input matInput type="password" placeholder="access token" formControlName="accessToken" name="accessToken"
            required>
        </mat-form-field>
      </div>
      <!-- <div class="field">
        <mat-form-field>
          <mat-label>namespace</mat-label>
          <input matInput placeholder="namespace" formControlName="namespace" name="namespace" required>
        </mat-form-field>
      </div> -->
    </mat-card-content>
    <mat-card-actions>
      <div class="field">
        <div class="button-wrapper">
          <button mat-flat-button color="primary">save</button>
        </div>
      </div>
    </mat-card-actions>
  </form>
</mat-card>
