<mat-card>
  <mat-card-header>
    <mat-card-title>Settings</mat-card-title>
  </mat-card-header>
  <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()" novalidate>
    <mat-card-content class="content">
      <div>
        <mat-form-field>
          <mat-label>gitlab location</mat-label>
          <input matInput placeholder="gitlab location" formControlName="gitlabAddress" name="gitlabAddress" required>
        </mat-form-field>
      </div>
      <!-- <div class="field">
        <mat-radio-group aria-label="is cross project" formControlName="isCrossProject" name="isCrossProject">
          <mat-radio-button class="field" value="true">is cross project</mat-radio-button>
          <mat-radio-button class="field" value="false">single project</mat-radio-button>
        </mat-radio-group>
      </div> -->
      <div class="field">
        <mat-form-field>
          <mat-label>accessToken</mat-label>
          <input matInput type="password" placeholder="access token" formControlName="accessToken" name="accessToken"
            autocomplete="off" required>
        </mat-form-field>
      </div>

      <div class="field">
        <h4>pipelines time range</h4>
        <mat-form-field>
          <mat-label>number of days</mat-label>
          <mat-select optional #selectedRange [formControl]="timeRangeSelectControl"
            (selectionChange)="setTimeRange(selectedRange.value)">
            <mat-option *ngFor="let timeRange of timeRangeDays" [value]="timeRange" name="timeRange">
              {{ timeRange }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p *ngIf="selectedRange.value">You selected: {{selectedRange.value}}</p>
      </div>

      <!-- <div class="field">
        <h4>pipelines per page</h4>
        <mat-form-field>
          <mat-label>pipelines per page</mat-label>
          <mat-select optional #selectedPerPage [formControl]="perPageSelectControl"
            (selectionChange)="setPerPage(selectedPerPage.value)">
            <mat-option *ngFor="let perPage of perpageArray" [value]="perPage">
              {{ perPage }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p *ngIf="selectedPerPage.value">You selected: {{selectedPerPage.value}}</p>
      </div> -->

      <div class="field">
        <h4>pipelines namespace</h4>
        <mat-form-field>
          <mat-label>select namespace</mat-label>
          <mat-select optional #selected [formControl]="namespaceSelectControl"
            (selectionChange)="onSelection(selected.value)">
            <mat-option *ngFor="let nm of names" [value]="nm">
              {{ nm.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p *ngIf="selected.value">You selected: {{selected.value.id}}</p>
      </div>

      <div class="field" *ngIf="subgroups">
        <h4>pipelines subgroup</h4>
        <mat-form-field>
          <mat-label>select subgroup</mat-label>
          <mat-select optional #group [formControl]="subgroupSelectControl"
            (selectionChange)="onSelection(group.value)">
            <mat-option *ngFor="let group of subgroups" [value]="group">
              {{ group.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p *ngIf="group.value">You selected: {{group.value.name}}</p>
      </div>

      <div class="field">
        <h4>input pipelines namespace</h4>
        <mat-form-field>
          <mat-label>input namespace</mat-label>
          <input matInput formControlName="namespace" name="namespace" optional>
        </mat-form-field>
      </div>

      <div class="field">
        <h4>runners grid day range</h4>
        <mat-form-field>
          <mat-label>runner grid day range</mat-label>
          <input matInput placeholder="runner grid day range" formControlName="numberOfDaysGrid"
            name="numberOfDaysGrid">
        </mat-form-field>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <div class="field">
        <div class="button-wrapper">
          <button mat-flat-button color="primary">save</button>
        </div>
      </div>
    </mat-card-actions>
  </form>

</mat-card>
