  <div>
      <button mat-icon-button class="settings-button" aria-label="Show settings" (click)="showSettings()">
      <mat-icon>settings_back</mat-icon>
    </button>
  </div>
  <app-settings *ngIf="isSettingsVisible" [(isVisible)]="isSettingsVisible"></app-settings>
  <app-notification></app-notification>
  <div fxLayout="row" fxLayoutGap="10">
    <div fxFlex="25%">
      <app-merge-requests></app-merge-requests>
    </div>
    <div fxFlex="75%">
      <app-pipelines></app-pipelines>
    </div>
  </div>
