// .cardList {
//     display: flex;
//     flex-direction: column;
//   }
//   /* Row Gap */
//   .cardList > *:not(:last-child) {
//     margin-bottom: 32px;
//   }

.mat-h4 {
  color: #333;
  margin 0 0 0 1rem;
}

.pipeline-card {
  display: block;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.pipeline-card-content {
  text-align: left;
}

.success {
  text-align: left;
  background-color: #90fe88;
}

.failed {
  text-align: left;
  background-color: #ff6740;
}

.passed {
  text-align: left;
  background-color: #90fe88;
}

.status {
  // object-fit: cover; /*this makes the image in src fit to the size specified below*/
  // width: .5rem; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  // height: .5rem;
  // padding-inline-start: .4rem;
}

.avatar {
  // object-fit: cover; /*this makes the image in src fit to the size specified below*/
  // width: .8rem; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  // height: .8rem;
  // padding-inline-start: .4rem;
}

mat-card img {
  object-fit: cover;
  /*this makes the image in src fit to the size specified below*/
  width: 1.6rem;
  /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 1.6rem;
  padding-inline-start: .4rem;
}

.spinner {
  position: relative;
  }

.mat-icon-button {
   width: 20px !important
   height: 20px !important
   line-height: 20px !important

   .mat-icon {
      width: 16px !important
      height: 16px !important
      line-height: 16px !important
   }
   .material-icons {
      font-size: 16px !important
   }
}

.pulse-button-toggle {
  color: white
  border: none
  border-radius: 50%
  background: #8254E6
  cursor: pointer
  box-shadow: 0 0 0 0 rgba(#8254E6, .5)
  -webkit-animation: pulse 2s infinite
}
.pulse-button-toggle:hover {
  -webkit-animation: none
}

@-webkit-keyframes pulse {
  0% {
    @include transform(scale(.9))
  }
  70% {
    @include transform(scale(1))
    box-shadow: 0 0 0 50px rgba(#8254E6, 0)
  }
    100% {
    @include transform(scale(.9))
    box-shadow: 0 0 0 0 rgba(#8254E6, 0)
  }
}

.pulse-button-toggle-offline {
  position: relative
  color: white
  border: none
  border-radius: 50%
  background: #FF543D
  cursor: pointer
  box-shadow: 0 0 0 0 rgba(#FF543D, .5)
}
.pulse-button-toggle-offline:hover {
  -webkit-animation: none
}
