// .cardList {
//     display: flex;
//     flex-direction: column;
//   }
//   /* Row Gap */
//   .cardList > *:not(:last-child) {
//     margin-bottom: 32px;
//   }

.mat-h4 {
  color: #333;
  margin 0 0 0 1rem;
}

.pipeline-card {
  display: block;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.pipeline-card-content {
  text-align: left;
}

.success {
  text-align: left;
  background-color: #90fe88;
}

.failed {
  text-align: left;
  background-color: #ff6740;
}

.passed {
  text-align: left;
  background-color: #90fe88;
}

.status {
  // object-fit: cover; /*this makes the image in src fit to the size specified below*/
  // width: .5rem; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  // height: .5rem;
  // padding-inline-start: .4rem;
}

.avatar {
  // object-fit: cover; /*this makes the image in src fit to the size specified below*/
  // width: .8rem; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  // height: .8rem;
  // padding-inline-start: .4rem;
}

mat-card img {
  object-fit: cover;
  /*this makes the image in src fit to the size specified below*/
  width: 1.6rem;
  /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 1.6rem;
  padding-inline-start: .4rem;
}

.spinner {
  position: relative;
  }
