<h4 class="mat-h4">
  <strong>Open MR's:
    <span
      [ngClass]="{'is-success': mergeRequests?.length === 0, 'is_warning': mergeRequests?.length > 0 && mergeRequests?.length > 5, 'is_danger': mergeRequests?.length > 4}">{{mergeRequests?.length}}</span>
  </strong></h4>
<div class="spinner">
  <ngx-spinner bdColor="#ccc" size="medium" color="#fff" type="square-loader" bdOpacity=0.1 [fullScreen]="false">
  </ngx-spinner>
</div>
<div fxLayout="column" fxLayoutGap="1rem">
  <mat-card class="merge-request-card" *ngFor="let mergeReq of mergeRequests">
    <mat-card-header>
      <mat-card-title>{{mergeReq.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="merge-request-content">
      <div class="starcount-holder">
        <mat-icon class="material-icons md8 icon-orange">star_border</mat-icon>
        <div class="starcount"><span><strong>{{ mergeReq?.project?.star_count}}</strong></span></div>
      </div>
      <div><span>author: <strong>{{mergeReq.author?.name}}</strong></span><img mat-card-avatar
          src='{{ mergeReq.author?.avatar_url }}' alt="Author Avatar"></div>
      <div *ngIf="!mergeReq.assignees?.length && mergeReq.assignee"><span>assignee:
          <strong>{{mergeReq.assignee?.name}}</strong></span><img mat-card-avatar
          src='{{ mergeReq.assignee?.avatar_url }}' alt="Assignee Avatar"></div>
      <div *ngFor="let assig of mergeReq.assignees; let i = index">
        <div *ngIf="mergeReq.assignees?.length"></div>
        <div><span>assignee {{i +1}}: <strong>{{assig.name}}</strong></span><img mat-card-avatar
            src='{{ assig?.avatar_url }}' alt="Assignee Avatar"></div>
      </div>
      <div></div>
      <div><span>group: <strong>{{mergeReq?.project.namespace?.name}}</strong></span></div>
      <div><span>project: <strong>{{mergeReq.project?.name}}</strong></span></div>
      <div><span>updated: <strong>{{mergeReq.updated_at | dateAgo}} ago</strong></span></div>
      <div><span>created: <strong>{{mergeReq.created_at | dateAgo}} ago</strong></span></div>
      <div><span>open issues: <strong>{{mergeReq.project?.open_issues_count}}</strong></span></div>
      <div><span>notes: <strong>{{mergeReq?.user_notes_count}}</strong></span></div>
      <div><span>target: <strong>{{mergeReq?.target_branch}}</strong></span></div>
      <div><span>source: <strong>{{mergeReq?.source_branch}}</strong></span></div>
      <div><span>in progress: <strong>{{mergeReq?.work_in_progress}}</strong></span></div>
      <div><span>merge status: <strong>{{mergeReq?.merge_status}}</strong></span></div>
      <div><span>merge on success: <strong>{{mergeReq?.merge_when_pipeline_succeeds}}</strong></span></div>
      <div><span class="text-description">description: {{mergeReq?.description}}</span></div>
    </mat-card-content>
  </mat-card>
</div>
