.content {
  h4 {
    color: #333;
    margin: 0;
    font: 400 15px/24px Roboto, "Helvetica Neue", sans-serif;
  }

  .mat-typography h4 {
    color: #333;
    margin: 0 0 0;
  }

  .mat-subheading-1 {
    color: #333;
    margin: 0;
  }

  .merge_req {
    background-color: #ccc;
    padding: 0.5rem;

    &.ci_success {
      border-left: 0.5rem solid $success;
    }

    &.ci_pending {
      border-left: 0.5rem solid $warning;
    }

    &.ci_failed {
      border-left: 0.5rem solid $danger;
    }
  }
}

.mat-h4 {
  color: #333;
  margin: 0;
}

.merge-request-card {
  display: block;
  border: 1px solid #333;
  border-radius: 8px;
  margin-right: 1rem;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.merge-request-card-content {
  text-align: left;
}

.text-description {
  // display: block !important;
  text-overflow: ellipsis;
  overflow: hidden;
  // // white-space: nowrap;
  word-break: break-word;
}

 mat-card img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 1.6rem; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 1.6rem;
  padding-inline-start: .4rem;
  padding-inline-end: .4rem;
 }