.full-width-table {
  width: 100%;
}

.material-icons.color_green {
  color: white;
  background-color: rgb(88, 207, 73);
}

.material-icons.color_red {
  color: white;
  background-color: rgb(218, 56, 56);
}

.material-icons.color_blue {
  color: white;
  background-color: rgb(56, 140, 218);
}

.material-icons.color_orange {
  color: white;
  background-color: rgb(218, 115, 56);
}

.material-icons.color_grey {
  color: white;
  background-color: rgb(122, 120, 119);
}

.title {
  font-size: 1.4rem
  color: #aaa
  opacity: 0.9
  margin: 0
}

