<mat-card><mat-label><h3 class="title">Runner Status</h3></mat-label></mat-card>
<div class='mat-elevation-z8'>
    <table mat-table class='full-width-table' matSort aria-label='Elements'>
  
      <!-- id Column -->
      <ng-container matColumnDef='id'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
        <td mat-cell *matCellDef='let row'>{{row.id}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef='name'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
        <button mat-icon-button>
        </button>
        <td mat-cell *matCellDef='let row'>{{row.name}}</td>
      </ng-container>
  
      <!-- NowMinuSeven Column -->
      <!-- <ng-container matColumnDef='minus7'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{nowminus7}}</th>
        <td mat-cell *matCellDef='let row'>
          <button mat-mini-fab color='primary'
          matTooltip="
          id: {{row.minus7.id}}
          name: {{row.minus7.name}} 
          active: {{row.minus7.active}} 
          description: {{row.minus7.description}} 
          ip_address: {{row.minus7.ip_address}} 
          is_shared: {{row.minus7.is_shared}} 
          status: {{row.minus7.status}}
          uptime: tbd
          "
            matTooltipPosition="before"
            [ngClass]="{
              'online': 'mat-mini-fab material-icons color_orange',
              'offline': 'mat-mini-fab material-icons color_red',
              'paused': 'mat-mini-fab material-icons color_blue',
              'active': 'mat-mini-fab material-icons color_green',
              '': 'mat-mini-fab material-icons color_grey'}
              [row.minus7.status]"
              routerLink="/detail"
            (click)='showData(row.minus7)'>
            <mat-icon>{{ getIcon(row.minus7.status)}}</mat-icon>
          </button></td>
      </ng-container> -->
  
      <!-- NowMinusSix Column -->
      <ng-container matColumnDef='minus6'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{nowminus6}}</th>
        <td mat-cell *matCellDef='let row'>
          <button mat-mini-fab color='primary'
          matTooltip="
          id: {{row.minus6.id}}
          name: {{row.minus6.name}} 
          active: {{row.minus6.active}} 
          description: {{row.minus6.description}} 
          ip_address: {{row.minus6.ip_address}} 
          is_shared: {{row.minus6.is_shared}} 
          status: {{row.minus6.status}}
          uptime: tbd
          "
            matTooltipPosition="before"
            [ngClass]="{
              'online': 'mat-mini-fab material-icons color_orange',
              'offline': 'mat-mini-fab material-icons color_red',
              'paused': 'mat-mini-fab material-icons color_blue',
              'active': 'mat-mini-fab material-icons color_green',
              '': 'mat-mini-fab material-icons color_grey'}
              [row.minus6.status]"
            (click)='showData(row.minus6)'>
            <mat-icon>{{ getIcon(row.minus6.status)}}</mat-icon>
          </button>
        </td>
      </ng-container>
  
  
      <!-- NowMinusFive Column -->
      <ng-container matColumnDef='minus5'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{nowminus5}}</th>
        <td mat-cell *matCellDef='let row'>
          <button mat-mini-fab color='primary'
          matTooltip="
          id: {{row.minus5.id}}
          name: {{row.minus5.name}} 
          active: {{row.minus5.active}} 
          description: {{row.minus5.description}} 
          ip_address: {{row.minus5.ip_address}} 
          is_shared: {{row.minus5.is_shared}} 
          status: {{row.minus5.status}}
          uptime: tbd
          "
            matTooltipPosition="before"
            [ngClass]="{
              'online': 'mat-mini-fab material-icons color_orange',
              'offline': 'mat-mini-fab material-icons color_red',
              'paused': 'mat-mini-fab material-icons color_blue',
              'active': 'mat-mini-fab material-icons color_green',
              '': 'mat-mini-fab material-icons color_grey'}
              [row.minus5.status]"
            (click)='showData(row.minus5)'>
            <mat-icon>{{ getIcon(row.minus5.status)}}</mat-icon>
          </button></td>
      </ng-container>
  
      <!-- NowMinusFour Column -->
      <ng-container matColumnDef='minus4'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{nowminus4}}</th>
        <td mat-cell *matCellDef='let row'>
          <button mat-mini-fab color='primary'
          matTooltip="
          id: {{row.minus4.id}}
          name: {{row.minus4.name}} 
          active: {{row.minus4.active}} 
          description: {{row.minus4.description}} 
          ip_address: {{row.minus4.ip_address}} 
          is_shared: {{row.minus4.is_shared}} 
          status: {{row.minus4.status}}
          uptime: tbd
          "
            matTooltipPosition="before"
            [ngClass]="{
              'online': 'mat-mini-fab material-icons color_orange',
              'offline': 'mat-mini-fab material-icons color_red',
              'paused': 'mat-mini-fab material-icons color_blue',
              'active': 'mat-mini-fab material-icons color_green',
              '': 'mat-mini-fab material-icons color_grey'}
              [row.minus4.status]"
            (click)='showData(row.minus4)'>
            <mat-icon>{{ getIcon(row.minus4.status)}}</mat-icon>
          </button></td>
      </ng-container>
  
      <!-- NowMinusThree Column -->
      <ng-container matColumnDef='minus3'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{nowminus3}}</th>
        <td mat-cell *matCellDef='let row'>
          <button mat-mini-fab color='primary'
          matTooltip="
          id: {{row.minus3.id}}
          name: {{row.minus3.name}} 
          active: {{row.minus3.active}} 
          description: {{row.minus3.description}} 
          ip_address: {{row.minus3.ip_address}} 
          is_shared: {{row.minus3.is_shared}} 
          status: {{row.minus3.status}}
          uptime: tbd
          "
            matTooltipPosition="before"
            [ngClass]="{
              'online': 'mat-mini-fab material-icons color_orange',
              'offline': 'mat-mini-fab material-icons color_red',
              'paused': 'mat-mini-fab material-icons color_blue',
              'active': 'mat-mini-fab material-icons color_green',
              '': 'mat-mini-fab material-icons color_grey'}
              [row.minus3.status]"
            (click)='showData(row.minus3)'>
            <mat-icon>{{ getIcon(row.minus3.status)}}</mat-icon>
          </button></td>
      </ng-container>
  
      <!-- NowMinusTwo Column -->
      <ng-container matColumnDef='minus2'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{nowminus2}}</th>
        <td mat-cell *matCellDef='let row'>
          <button mat-mini-fab color='primary'
          matTooltip="
          id: {{row.minus2.id}}
          name: {{row.minus2.name}} 
          active: {{row.minus2.active}} 
          description: {{row.minus2.description}} 
          ip_address: {{row.minus2.ip_address}} 
          is_shared: {{row.minus2.is_shared}} 
          status: {{row.minus2.status}}
          uptime: tbd
          "
            matTooltipPosition="before"
            [ngClass]="{
              'online': 'mat-mini-fab material-icons color_orange',
              'offline': 'mat-mini-fab material-icons color_red',
              'paused': 'mat-mini-fab material-icons color_blue',
              'active': 'mat-mini-fab material-icons color_green',
              '': 'mat-mini-fab material-icons color_grey'}
              [row.minus2.status]"
            (click)='showData(row.minus2)'>
            <mat-icon>{{ getIcon(row.minus2.status)}}</mat-icon>
          </button></td>
      </ng-container>
  
      <!-- NowMinusOne Column -->
      <ng-container matColumnDef='minus1'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{nowminus1}}</th>
        <td mat-cell *matCellDef='let row'>
          <button mat-mini-fab color='primary'
          matTooltip="
          id: {{row.minus1.id}}
          name: {{row.minus1.name}} 
          active: {{row.minus1.active}} 
          description: {{row.minus1.description}} 
          ip_address: {{row.minus1.ip_address}} 
          is_shared: {{row.minus1.is_shared}} 
          status: {{row.minus1.status}}
          uptime: tbd
          "
            matTooltipPosition="before"
            [ngClass]="{
              'online': 'mat-mini-fab material-icons color_orange',
              'offline': 'mat-mini-fab material-icons color_red',
              'paused': 'mat-mini-fab material-icons color_blue',
              'active': 'mat-mini-fab material-icons color_green',
              '': 'mat-mini-fab material-icons color_grey'}
              [row.minus1.status]"
            (click)='showData(row.minus1)'>
            <mat-icon>{{ getIcon(row.minus1.status)}}</mat-icon>
          </button></td>
      </ng-container>
  
      <!-- Now Column -->
      <!-- <ng-container matColumnDef='minus0'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{nowminus0}}</th>
        <td mat-cell *matCellDef='let row'>
          <button mat-mini-fab color='primary'
            matTooltip="id: {{row.minus0.id}}
            name: {{row.minus0.name}} 
            active: {{row.minus0.active}} 
            description: {{row.minus0.description}} 
            ip_address: {{row.minus0.ip_address}} 
            is_shared: {{row.minus0.is_shared}} 
            status: {{row.minus0.status}}
            uptime: tbd
            "
            matTooltipPosition="before"
            matTooltipClass='runners-tooltip'
            [ngClass]="{
              'online': 'mat-mini-fab material-icons color_orange',
              'offline': 'mat-mini-fab material-icons color_red',
              'paused': 'mat-mini-fab material-icons color_blue',
              'active': 'mat-mini-fab material-icons color_green',
              '': 'mat-mini-fab material-icons color_grey'}
              [row.minus0.status]"
            (click)='showData(row.minus0)'>
            <mat-icon>{{ getIcon(row.minus0.status)}}</mat-icon>
          </button></td>
      </ng-container> -->

      <ng-container matColumnDef='now'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{now}}</th>
        <td mat-cell *matCellDef='let row'>
          <button mat-mini-fab color='primary'
            matTooltip="id: {{row.now.id}}
            name: {{row.now.name}} 
            active: {{row.now.active}} 
            description: {{row.now.description}} 
            ip_address: {{row.now.ip_address}} 
            is_shared: {{row.now.is_shared}} 
            status: {{row.now.status}}
            uptime: tbd
            "
            matTooltipPosition="before"
            matTooltipClass='runners-tooltip'
            [ngClass]="{
              'online': 'mat-mini-fab material-icons color_orange',
              'offline': 'mat-mini-fab material-icons color_red',
              'paused': 'mat-mini-fab material-icons color_blue',
              'active': 'mat-mini-fab material-icons color_green',
              '': 'mat-mini-fab material-icons color_grey'}
              [row.minus0.status]"
            (click)='showData(row.now)'>
            <mat-icon>{{ getIcon(row.now.status)}}</mat-icon>
          </button></td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
      <tr mat-row *matRowDef='let row; columns: displayedColumns;'></tr>
    </table>
  
    <!-- <mat-paginator #paginator [length]='dataSource?.data.length' [pageIndex]='0' [pageSize]='50'
      [pageSizeOptions]='[25, 50, 100, 250]'>
    </mat-paginator>
  </div> -->
  
  <!-- DIALOG -->
  <div class="dialog-content">
  
  </div>
  