.full-width-table {
  width: 100%;
}

.material-icons.color_green {
  color: white;
  background-color: rgb(88, 207, 73);
}

.material-icons.color_red {
  color: white;
  background-color: rgb(218, 56, 56);
}
